body {
    margin: 0;
    /* overflow: hidden; */
    display: grid;
    min-height: 100vh;
    place-items: center;
}

#container {
    position: relative;
    overflow: hidden;
    width: 1403px;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Background styles for different states */
.bg-loading {
    background-image: url('loading.jpg');
}

.bg-heaven {
    background-image: url('heaven.jpg');
}

.bg-homestead {
    background-image: url('homestead.jpg');
}

.bg-littletown {
    background-image: url('littletown.jpg');
}

.bg-dantesinferno {
    background-image: url('dantesinferno.jpg');
}

.animal-container {
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

.animal {
    width: 100px;
    height: auto;
    margin: 10px;
    position: absolute;
    opacity: 1;
}

#Butters {
    bottom: 200px;
    right: 45%;
}

#Nipple {
    bottom: 200px;
    right: 60%;
}

#Barry {
    bottom: 200px;
    right: 53%;
}

#Rosie {
    bottom: 310px;
    right: 50%;
}

#Zorro {
    bottom: 280px;
    right: 60%;
}

#Lucy {
    bottom: 310px;
    right: 55%;
}

#Cutie {
    bottom: 300px;
    right: 45%;
}

#Petal {
    bottom: 250px;
    right: 40%;
}


.options {
    position: absolute;
    /* transform: translateX(-50%); */
    /* z-index: 100; */
    display: none;
    text-align: center;
}

.option {
    margin: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial;
    /* z-index: 200; */
}


#memorial-sign {
    position: absolute;
    bottom: 1px;
    left: 2px;
    cursor: pointer;
    width: 200px;
}

#train-ticket {
    position: absolute;
    bottom: 20px;
    left: 100px;
    display: none;
    cursor: pointer;
    width: 60px;
}

#end-scene {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#whistle {
    display: none;
    cursor: pointer;
    width: 100px;
    position: absolute;
    bottom: 20px;
    left: 100px;
}


#text {
    display: none;
    cursor: pointer;
    width: 300px;
    height: 300px;
    object-fit: contain;
    position: absolute;
    bottom: 200px;
    right: 45%;
}


.slideInRight {
    animation: slideRight .3s ease-in-out forwards;
}

.slideUpFadeOut {
    animation: slideUpFadeOut 1s ease-in forwards;
}

.animalToTrolley {
    animation: moveToTrolley .1s linear forwards;
}

@keyframes slideRight {
    to {
        right: 50%;
    }
}

@keyframes slideUpFadeOut {
    to {
        bottom: 120%;
        opacity: 0;
    }
}

@keyframes moveToTrolley {
    to {
        right: 50%;
        bottom: 10px;
    }
}