body {
    margin: 0;
    padding: 0;
    font-family: "Big Caslon", serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#container {
    width: 1400px;
    height: 1024px;
    background: url('memorialgrounds.jpg') no-repeat;
    overflow: hidden;
    position: relative;
}

#mailbox {
    position: absolute;
    bottom: 1px;
    left: 250px;
    width: 300px;
    cursor: pointer;
}

#heaven-sign {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 45%;
    transform: translateX(-50%);
    width: 200px;
    cursor: pointer;
}

.sparkle {
    position: absolute;
    pointer-events: none;
    width: 100px;
    height: 100px;
    display: none;
}

#oliver {
    position: absolute;
    bottom: 10px;
    right: -250px;
    width: 150px;
    transform: translateX(-50%)
    /* display: none; */
}

.oliverWalkIn {
    animation: oliverWalkIn 3s 2s linear forwards;
}

@keyframes oliverWalkIn {
    to{
        right: 50%;
    }
}